
/* .logo {
    height: 80px; 
    width: auto; 
    margin-right: 20px; 
    transition: transform 0.3s ease;
    margin-left: 100px;
    
  } */

  /* Navbar styles */
.nav-link {
  color: white; /* Default color */
  text-decoration: none; /* Remove underline */
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease; /* Transition for hover effect */
}

/* Active link */
.nav-link.active {
  color: yellow; /* Active color for Home */
  font-weight: bold; /* Bold for active */
}

/* Hover effect */
.nav-link:hover {
  color: rgb(9, 183, 241); /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Logo styles */
.logo {
  height: 80px; 
  width: auto; 
  margin-right: 20px;
  margin-left: 50px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

  
 
  